<div style="text-align: center">
  <form>
    <mat-form-field appearance="standard" style="padding-right: 10px">
      <mat-label>Search</mat-label>
      <input matInput placeholder="search" name="search" #inputValue />
    </mat-form-field>
    <button mat-raised-button color="primary" type="button" style="margin: 25px;"
      (click)="searchContent(inputValue.value)">
      Search
    </button>
  </form>
  <app-modify-content (newContentEvent)="getNewContact($event)"></app-modify-content>
</div>

<div style="margin-top: 50px;">
  <h1 style="color: blue; text-align: center">LIST OF BOOKS:</h1>
</div>
<div style="display: flex; flex-wrap: wrap">
  <div *ngFor="let content of filteredData; first as isFirst; last as isLast">
    <div [class]="content.type" appBorder [class.firstcard]="isFirst" [class.lastcard]="isLast">
      <app-content-card [content]="content"></app-content-card>
    </div>
  </div>
</div>
