<div class="main-div" *ngIf="content">
  <mat-card class="content-card">
    <mat-card-title>
      <p appHoverEffect>{{ content.title }}</p>
    </mat-card-title>
    <mat-card-subtitle>
      <p><strong>ID:</strong> {{ content.id }}</p>
    </mat-card-subtitle>
    <img mat-card-image width="150" height="150" src="{{
        content.imgURL ? content.imgURL : '../../assets/img/default.jpg'
      }}" alt="content-image" />
    <mat-card-content>
      <p><strong>Description:</strong> {{ content.description }}</p>
      <p><strong>PRIZE:</strong> {{ content.prize }}</p>
      <p>
        <strong>SIZE:</strong>
        <span *ngFor="let size of content?.tags" appHoverEffect class="tag">{{ " " }}{{ size }}</span>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="button" (click)="goToContentList()">Go to Content List</button>
    </mat-card-actions>
  </mat-card>
</div>
